.btn {
@include reset-btn;
border-radius: 12px;
padding: 20px 48px;
text-transform: uppercase;
}
.btn--primary {
  background: $primary;
  backdrop-filter: blur(80px);
  font-size: 16px;
  line-height: 16px;
  color: $dark;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $hover;
  }
}

.descr {
        @include label-02;
}
.title {
  @include h-2;
}
.s-title {
  @include h-5;
}
.name {
  @include h-4;
}
.text {
  @include paragraph;
}



