.btn {
  @include reset-btn;
  		// .btn__svg
		&__svg {
      position: relative;
      padding-right:  30px;
      &::after {
        display: block;
        content:"";
            background-color: currentColor;
    -webkit-mask-image: url(/img/svg/chevron.svg);
    mask-image: url(/img/svg/chevron.svg);
        // background-image: url(../img/svg/sprite.svg#chevron_right);
        width: 24px;
        height: 24px;
        position: absolute;
        top: -2px;
        right: 0;
        bottom: 0;
        transform: rotate(270deg);
      }
		}
}
.btn--white {
  background-color: $white;
  color: $black;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 38px;
  border-radius: 9px;
}

.btn--black {
  @include font(16,21);
  background: $black;
  border-radius: 9px;
  color: $white;
  padding: 16px 60px;

}
.title {
  @include h-2;
  color: $white;
        	@media screen and (max-width: 570px) { 
            font-size: 36px;
			}
}
.descr {
  @include font(25,33);
color: $gray;
      	@media screen and (max-width: 570px) { 
          font-size: 20px;
			}
}
.text {
  @include font(16,27);
  color: $white;
  
}


.aside {
  display: flex;
  flex-direction: column;


  
		// .aside__wrapper
		&__wrapper {
      background: #333333;
border-radius: 17px;
padding: 32px 21px 0px 21px;
margin-bottom: 15px;
		}

		// .aside__title
		&__title {
      font-weight: 700;
      font-size: 18px;
      line-height: calc(24/18);
      margin-bottom: 5px;
		}
		// .aside__lists
		&__lists {
      display: flex;
      flex-wrap: wrap;
		}
		// .aside__list
		&__list {
      padding: 25px 26px 18px 1px;
      border-bottom: 1px dashed #B3B3B3;
      width: 100%;
      &:nth-last-child(1){
        border-bottom: none;
        width: 45%;
        padding-right: 0;
      }
      &:nth-last-child(2){
        border-bottom: none;
        width: 55%;
        padding-right: 0;
      }
		}
		// .aside__label
		&__label {
      font-size: 15px;
      line-height: calc(20/15);
color: rgba(189, 189, 189, 0.5);
margin-bottom: 11px;
		}
		// .aside__vvalue
		&__vvalue {
      font-size: 16px;
      line-height: calc(21/16);
		}
		// .aside__botton
		&__botton {
      padding-top: 21px;
       border-top: 1px dashed #B3B3B3;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 16px;
      line-height: calc(21/16);
		}
		// .aside__cost
		&__cost {
      


		}
		// .aside__total
		&__total {
		}
}