
// MIXIN

@mixin anim($time,$delay) {transition: all $time ease $delay;}


@mixin font($font-size, $line-height){
   font-size: $font-size;
   line-height: calc($line-height/$font-size); 
}
@mixin reset-model {
  margin: 0;
  padding: 0;
  
}
@mixin reset-list {
  list-style: none;
  @include reset-model();
  
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  border: 0;

  
}

@mixin reset-btn {
  text-decoration: none;
  display: inline-block;
  color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  
}



