@mixin font-family ($font_family, $file-path, $weight:normal,$style:normal) {

  @font-face {
  font-family: $font_family;
  font-style: $style;
  font-weight: $weight;
  src: local(''),
       url('#{$file-path}.woff2') format('woff2'), 
       url('#{$file-path}.woff') format('woff'); 
  
}}

// font-family: 'Roboto', sans-serif;
@include font-family("Roboto Condensed","../font/roboto-condensed-regular",400,normal);
@include font-family("Roboto Condensed","../font/roboto-condensed-bold",700,normal);

/* roboto-regular - latin_cyrillic */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''),
//        url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//        url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
