.page {
		// .page__body
		&__body {
			margin-top: 50px;
			background-color: $bg;
		}
				// .page__navigate
		&__navigate {
			margin-top: 95px;
		}
}
.b-1 {
	display: flex;
	
		// .b-1__aside
		&__aside {
			flex: 0 1 25%;
			
		}
		// .b-1__body
		&__body {
			margin-left: 32px;
			
		}



}

.navigate {
	display: flex;
	justify-content: space-between;
		// .navigate__link
		&__link {
			padding: 16px 20px 16px 25px  ;
			background-color: $white;
			color: $black;
			font-size: 16px;
			line-height: calc(31 /16);
			transition: all .3s ease-in-out;
			border-radius: 8px;
								&:hover {
				background-color: $gray;
			}
			
			
		}
		&__svg {
			vertical-align: middle;
			width: 20px;
			height: 20px;
			transform: rotate(-90deg);
			margin-left: 15px;
			margin-bottom: 3px;

		}
		// .navigate__link--prev
		&__link--prev {
			background: #ACACAC;

			& svg {
				margin-left: 0;
				margin-right: 15px;
				transform: rotate(90deg);
			}
		}
}
.slot{
		flex-grow: 1;

		// .slot__item
		&__item {
			display: flex;
			// min-height: 100%;
			justify-content: space-between;
			padding-bottom: 32px;
			border-bottom: 1px dashed #B3B3B3;

			&:not(:first-child){
				margin-top: 32px;
			}
		}
		// .slot__picture
		&__picture	{
			flex-basis:  33.333%;
			// width: 100%;
			top: 0;
			left: 0;
			min-height: 100%;
			background: #333333;
			border-radius: 17px;
			// min-height: 260px;
			// height: 100%;
			position: relative;
		}

		// .slot__img
		&__img {

			position: absolute;
			top: 50%;
			// left: 0;
			// bottom: 0;
			// width: 100%;

			object-fit: cover;
			transform: translateY(-50%);
		}
		// .slot__content

		// .slot__text
		&__text {
			flex-grow: 1;
	
			margin-left: 32px;
						display: flex;
			flex-direction: column;
			// justify-content: space-between;
		}
		// .slot__title
		&__title {
			font-weight: 400;
			font-size: 25px;
			line-height: calc(49 /25);
			margin-bottom: 21px;



		}
		// .slot__price
		&__price {
			font-weight: 700;
font-size: 50px;
line-height: calc(97 /50);
					flex-grow: 1;
					margin-bottom: 66px;

		}
		// .slot__moreinfo
		&__moreinfo {
			align-items: end;
			// display: block;
			position: relative;
			padding-left: 48px;
			vertical-align: bottom;
			&::after{

			 	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img'   preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M16.293 9.293L12 13.586L7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'/%3E%3C/svg%3E");
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 28px;
				height: 28px;
				background-color: $white;
				border-radius: 50%;
				
			}
		}
		// .slot__right
		&__right {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		// .slot__btn
		&__btn {

			
		}
		// .slot__select
		&__select {

		}
		// .slot__info
		&__info {

			display: block;
			padding: 0px 25px;
			border: 1px solid $gray;
			font-weight: 500;
			font-size: 25px;
			line-height: calc(50 /25);
			position: relative;
			padding-right: 80px;
			margin-top: 25px;
			
		}
		// .slot__info--
		&__info--pass {
						
			&::after{
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true'   preserveAspectRatio='xMidYMid meet' viewBox='0 0 26 24'%3E%3Cpath fill='white' d='M22.313 17.295a7.436 7.436 0 0 0-4.089-2.754l-.051-.011l-1.179 1.99a1.003 1.003 0 0 1-1 1c-.55 0-1-.45-1.525-1.774v-.032a1.25 1.25 0 1 0-2.5 0v.033v-.002c-.56 1.325-1.014 1.774-1.563 1.774a1.003 1.003 0 0 1-1-1l-1.142-1.994a7.47 7.47 0 0 0-4.126 2.746l-.014.019a4.475 4.475 0 0 0-.655 2.197v.007c.005.15 0 .325 0 .5v2a2 2 0 0 0 2 2h15.5a2 2 0 0 0 2-2v-2c0-.174-.005-.35 0-.5a4.522 4.522 0 0 0-.666-2.221l.011.02zM7.968 5.29c0 2.92 1.82 7.21 5.25 7.21c3.37 0 5.25-4.29 5.25-7.21v-.065a5.25 5.25 0 1 0-10.5 0v.068zm11.234 1.72c0 1.902 1.186 4.698 3.42 4.698c2.195 0 3.42-2.795 3.42-4.698v-.052a3.421 3.421 0 0 0-6.842 0v.055v-.003zm-19.2 1.6c0 1.902 1.186 4.698 3.42 4.698c2.195 0 3.42-2.795 3.42-4.698v-.052a3.421 3.421 0 0 0-6.842 0v.055v-.003z'/%3E%3C/svg%3E");
				position: absolute;
				top: 3px;
				display: inline-block;
				right:  15px;
				width: 40px;
				height: 24px;
				opacity: 0.3;
			}
		}
		&__info--bags {

					&::after{
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img'  preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M4 20h2V10a1 1 0 0 1 1-1h12V7a1 1 0 0 0-1-1h-3.051c-.252-2.244-2.139-4-4.449-4S6.303 3.756 6.051 6H3a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2zm6.5-16c1.207 0 2.218.86 2.45 2h-4.9c.232-1.14 1.243-2 2.45-2z'/%3E%3Cpath fill='white' d='M21 11H9a1 1 0 0 0-1 1v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-8a1 1 0 0 0-1-1zm-6 7c-2.757 0-5-2.243-5-5h2c0 1.654 1.346 3 3 3s3-1.346 3-3h2c0 2.757-2.243 5-5 5z'/%3E%3C/svg%3E");;
						position: absolute;
				top: 3px;
				display: inline-block;
				right:  15px;
				width: 40px;
				height: 24px;
				opacity: 0.3;
					}	
		}

}
.body-page {
}

