@import "_components/_normalize.scss";
@import "_components/_stylesheet.scss";
@import "_components/_vars.scss";
@import "_components/_mixin.scss";


html {
  font-size: $font-size;
  font-family: $font-family;
  // text-rendering: optimizeLegibility;
  line-height: $line-height;
  font-weight: 400;
  font-style: normal;
  color: $black;
  // text-rendering: optimizeLegibility;   
}

 body{ 

  background-image:  url(../img/about-bg.svg),url(../img/faq-bg.svg),linear-gradient($bg 0%);
  background-repeat:repeat,repeat, repeat;
  background-position: 0 0,top 707px left 0, center;
  background-size: 100% 150%,100% 150%,cover;
  
  color: $white;
  // zoom: 110%
  @media screen and (max-width: #{$md4}px) { 
     background-repeat:no-repeat,no-repeat, repeat;
  background-position:center,center,center;
  background-size: cover,cover,cover;
  }
} 


.cf:after,
.cf:before { content: " "; 
  display: table; }

.cf:after {
  clear: both; }

.container {
  width: 100%;
  max-width: 1440px;
  // padding-left: 15px;
  // padding-right: 15px;
  
  margin: 0 auto;
  @media (max-width: #{$md1}px) {max-width: 970px;}
  @media screen and (max-width: #{$md2}px) {max-width: 720px;padding: 0 10px;}
  @media screen and (max-width: #{$md3}px) {max-width:none;padding: 0 10px;};
}
.wrapper {
    width: 100%;
  max-width: 1716px;
  margin: 0 auto;
  // overflow: hidden;
 padding-left: 15px;
 padding-right: 15px;
  @media screen and (max-width: #{$md2}px) {}
}




h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:30px;
    @media screen and (max-width: #{$md2}px) { 
        grid-template-columns: repeat(6, 1fr);
        gap:20px;
    }
}

a {
  color: inherit;
  cursor: pointer;
}

img{

  max-width: 100%;
}

.vhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: nonr;
  padding: 0;
  clip: rect(0 0 0 0);
  // overflow: hidden;
}

@import "_components/_global.scss";
@import "_header.scss";
@import "_burger.scss";
@import "_main.scss";
@import "_b-1.scss";
@import "_footer.scss";



